html,body,div,section,ul,li,a,span,label{
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    height: 100%;
}
body {
    font-size: 2rem;
    height: 100%;
    position: relative;
}
.worldcup__banner {
    font-size: 1.6rem;
}
.worldcup__banner section {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-weight: bold;
    background: #f9f8f6;
    border-bottom: .1rem solid #f3f1ee;
    color: #999;
}
.worldcup__slogan {
    color: #e96bd4;
    text-decoration: none;
}
.worldcup__footer {
    text-align: center;
    font-size: 1.2rem;
    height: 10rem;
    line-height: 10rem;
    margin-top: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;

}
.worldcup__footer a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    margin-right: 3rem;
}
.worldcup__header {
    height: 7rem;
    color: #000;
    line-height: 7rem;
}
.worldcup__header div {
    display: inline-block;
    width: 33%;
}
.worldcup__logo {
    padding-left: 2rem;
}
.worldcup__logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4rem;
    color: #000;
}
.worldcup__menu {
    text-align: center;
}
.worldcup__menu a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin-right: 2rem;
}
.worldcup__menu a:hover {
    color: #e96bd4;
}

.landing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 128rem;
    margin: 2rem auto 0;
}

@media (min-width:760px) {
    .landing {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.landing__description {
    margin: 3.2rem 0 4.8rem;
    padding: 0 2.4rem
}

@media (min-width:760px) {
    .landing__description {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        margin: 0;
        padding: 3.2rem 3.2rem 0
    }
}

.landing__headline {
    font-size: 5rem;
    line-height: 1;
}

@media (min-width:480px) {
    .landing__headline {
        font-size: 5rem
    }
}

@media (min-width:760px) {
    .landing__headline {
        font-size: 5rem
    }
}

@media (min-width:1200px) {
    .landing__headline {
        font-size: 5rem
    }
}

.landing__subheadline {
    max-width: 48rem;
    margin: 1.5rem 0;
    font-size: 3.2rem;
    line-height: 1.2
}

@media (min-width:760px) {
    .landing__subheadline {
        margin-bottom: 3.2rem
    }
}

.landing__slots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden
}

@media (min-width:760px) {
    .landing__slots {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        height: 92vh;
        min-height: 60rem;
        max-height: 88rem
    }
}

@media (min-width:960px) {
    .landing__slots {
        padding-right: 2.4rem
    }
}

.landing__pattern {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

@media (min-width:760px) {
    .landing__pattern {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-preferred-size: 47.5%;
        flex-basis: 47.5%
    }
}

@media (min-width:760px) {
    .landing__pattern:nth-of-type(2) {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem)
    }
}

.landing__pattern:nth-of-type(3) {
    display: none
}

@media (min-width:960px) {
    .landing__pattern:nth-of-type(3) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.landing__country {
    height: 15rem;
    padding-right: 1.064rem;
    padding-bottom: 1.064rem
}

@media (min-width:760px) {
    .landing__country {
        width: 100%;
        height: auto;
        padding-right: 0;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem
    }
}

a.button__largest {
    --color-main: #e37ad3;
    --color-shadow: #d850b1;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 500;
    border: .2rem solid #0b0b0b;
    -webkit-box-shadow: inset 0 0 0 .3rem var(--color-shadow);
    box-shadow: inset 0 0 0 .3rem var(--color-shadow);
    width: 15rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* .landing__pattern div {
    width: 24rem;
    height: 24rem;
    display: inline-block;
    border: solid 1px blue;
    overflow: hidden;
} */

.unlogin__header {
    width: 100%;
    text-align: center;
}
.unlogin__header h3 {
    font-size: 4.2rem;
}
.unlogin__header p {
    color: #82817d;
}
.unlogin__header div {
    margin-top: 10rem;
}
.unlogin__header span {
    background: #fadff4;
    display: inline-block;
    padding: 0 1rem;
    border-radius: 1rem;
}
.marketplace__header {
    width: 100%;
    margin: 0 auto;
    height: 10rem;
    margin-top: 4rem;
    border-bottom: solid 0.2rem #ccc;
}
.marketplace__header div {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.marketplace__header a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: inline-block;
    border-bottom: solid 0.2rem #e96bd4;
    line-height: 7rem;
    position: absolute;
    bottom: 0;
}
.marketplace__teams {
    width: 80%;
    margin: 5rem auto;
}
.marketplace__teams li {
    display: inline-block;
    list-style: none;
    width: 25%;
    text-align: center;
    /* border: solid 1px #ddd; */
}
.marketplace__box {
    border: solid 1px #ddd;
    width: 90%;
    border-radius: 1rem;
    margin: 0 auto;
    padding-bottom: 1rem;;
}
.marketplace__teams img {
    width: 90%;
    height: auto;
    margin-top: 1rem;
}
.marketplace__box button {
    width: 10rem;
    height: 3rem;
    border: solid 1px #ddd;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.marketplace__box button:hover {
    background: #f5f5f5;
}
.marketplace__box span {
    background: #f5f5f5;
    display: block;
    height: 3rem;
    line-height: 3rem;
}
